<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>♡♡♡</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://unpkg.com/@zxing/library@latest"></script>
</head>
<body>

    <div class="container">

        <h1>💜 ♡♡♡ 💜</h1>
        <p class="subtitle">Escaneie um código de barras</p>

        <video id="video" width="400" height="300"></video>

        <div class="resultado">

    <h2 id="codigo" style="display:none;"></h2>

    <img id="imagem" src="" alt="Imagem" style="display:none;">

    <div id="botoes" style="display: none;">

        <button onclick="aceitarCupom()">
            💖 Aceitar
        </button>

        <button onclick="reiniciarScanner()">
            🔄 Tentar novamente
        </button>

    </div>

    <div id="mensagemFinal" style="display: none;">

        <h2>Parabéns! 💖</h2>

        <p>Já pode aproveitar seu vale ✨</p>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>